html body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}

a {
	text-decoration: none;
	margin-top: -5px;
	font-size: 12px;
	padding: 1%;
	color: 	#A9A9A9;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

#logo {
	width: 15em;
	margin: 0 auto;
}

img {
	height: auto;
	width: 90%;
}

.dropbtn {
    color: 	#A9A9A9;
    font-family: 'Montserrat', sans-serif;
    padding: 15%;
    font-size: 12px;
    font-weight: normal;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}


/*homepage welcome section*/

#welcome-section {
	height: 30%;
}

#homepage-cover {
	width: 98%;
	margin-top: 2em;
}

#welcome-text {
	margin: 80px auto;
	width: 70%;
	line-height: 23px;
}



/*homepage info section*/

#about-container {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
	clear: left;
	margin-bottom: 200px;
}

#gallery-container {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
	clear: right;
	margin-bottom: 200px;
}

#about-container img {
	width: 95%;
}

#gallery-container img {
	width: 95%;
}

.info {
	text-align: left;
	margin-left: 10px;
	width: 95%;
	padding-left: 0px;
}

#gallerybtn, #contactbtn {
    float: left;
    border: solid black .5px;
    width: 26%;
    padding: 15px;
    margin-left: 10px;
    color: #000;
}

#column-wrapper {
	height: 70%;
	width: 90%;
	margin: 0 auto;
	clear:both;
}

/*homepage quote section */

#quote {
    margin: 200px auto;
    width: 80%;
    height: 30%;
}

/*homepage menu section*/ 

#img1-container {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;

}

#img1-container img {
	width: 98%;
}

#img2-container {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

#img2-container img {
	width: 98%;
}

#img3-container img {
	width: 99%;
	margin-bottom: 0.3%;
}

#img4-container img {
	width: 99%;
	margin-top: 0.3%;
}

#menu-wrapper {
	width: 90%;
	margin: 0 auto;
	clear:both;
	padding: 0;
}

/*about page*/
#about-cover {
	width: 98%;
	margin-top: 2em;
	margin-bottom: 2em;
}

/*menu top*/

#menu2-img {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
	margin-bottom: 3em;

}

#menu2-img img {
	width: 98%;
}

#menu3-img {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
	margin-bottom: 3em;
}

#menu3-img img {
	width: 98%;
}

#menu1-img img {
	width: 99%;
	margin-bottom: 0.3%;
	margin-top: 2em;
}


#photo-wrapper {
	width: 98%;
	margin: 0 auto;
	clear:both;
	padding: 0;
}

/*MENU DRINKS*/

.info-text {
	text-align: center;
	width: 95%;
	list-style-type: none;
}


ul p {
	font-size: 12px;
	margin-top: 0;
	padding-top: 0;
}

ul li {
	margin-bottom: 0;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0 auto;

}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

#foodmenu, #drinkmenu {
	padding: 30px 0 0 0;
}

.title {
	font-weight: normal;
}

/*food menu images*/
#food2-img {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;

}

#food2-img img {
	width: 98%;
}

#food3-img {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

#food3-img img {
	width: 98%;
}

#food1-img img {
	width: 99%;
	margin-bottom: 0.3%;
	margin-top: 2em;
}

#food4-img img {
	width: 99%;
	margin-top: 0.3%;
}


#food-wrapper {
	width: 98%;
	margin: 0 auto;
	clear:both;
	padding: 0;
}

#blog {
	height: 600px;
}

#about-text {
	width: 70%;
	margin: 20px auto;
}


/*footer*/

/*  SECTIONS  */



.section {
	clear: both;
	padding: 10px;
	margin: 0px;
	margin-top: 2em;
	height: 100%;
}

#footerlogo {
	height: 9em;
	width: auto;
	
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

footer h6 {
	color: #fff;
	margin-bottom: 2px;
	font-weight: normal;
}

footer ul li {
	color: #fff;
	list-style-type: none;
	font-weight: lighter;

}

#footer-links a {
	color: white;
	font-weight: lighter;

}



footer {
	background: #7c7c7c;
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
}

#footer-links {
	background: #7c7c7c;
	float: right;
	padding-bottom: 0;
	margin: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*contact form*/



#contact-form {
    width: 60%;
    height: 80%;
    margin: 50px auto;
}

#first-name {
	width: 28%;
	height: 15%;
	margin-right: 5px;
	padding: 5px;
}

#last-name {
	width: 28%;
	padding: 5px;
}

label {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: lighter;
	text-align: left;
}

#email, #subject {
	width: 60%;
	height: 15%;
	padding: 5px;
}

#recipientInput {
    width: 100%;
    height: 12%;
    padding: 12px;
}

input, textarea {
	margin-top: 10px;
}

p {
    font-size: 1.8rem;
    width: 80%;
    margin: 25px auto;
}

h3#contact {
    margin: 25px 0 0 0;
}


#contfooterlogo {
	height: 3.7em;
	width: auto;
}

.contact-ul {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	letter-spacing: .3px;
	color: #fff;
	list-style-type: none;
	font-weight: lighter;
	line-height: 28px;
}

.contact-title {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-bottom: 2px;
	font-weight: normal;
}

#galleryarea {
	height: 600px;
}

