html body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 99%;
}

a {
	text-decoration: none;
	margin-top: -5px;
	font-size: 12px;
	padding: 1%;
	color: 	#A9A9A9;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

#logo {
	width: 15em;
	margin: 0 auto;
}

img {
	height: auto;
	width: 90%;
}

/*homepage welcome section*/

#welcome-section {
	height: 30%;
}

#homepage-cover {
	width: 98%;
	margin-top: 2em;
}

#welcome-text {
	margin: 80px auto;
	width: 70%;
	line-height: 23px;
}



/*homepage info section*/

#about-container {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

#gallery-container {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;
}

#about-container img {
	width: 95%;
}

#gallery-container img {
	width: 95%;
}

.info-text {
	text-align: left;
	margin-left: 10px;
	width: 95%;
}

#gallerybtn, #contactbtn {
    float: left;
    border: solid black .5px;
    width: 26%;
    padding: 15px;
    margin-left: 10px;
    color: #000;
}

#column-wrapper {
	height: 60%;
	width: 90%;
	margin: 0 auto;
	clear:both;
}

/*homepage quote section */

#quote {
    clear: both;
    margin: 200px auto;
    width: 80%;
    height: 20%;
}

/*homepage menu section*/ 

#img1-container {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;

}

#img1-container img {
	width: 98%;
}

#img2-container {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

#img2-container img {
	width: 98%;
}

#img3-container img {
	width: 99%;
	margin-bottom: 0.3%;
}

#img4-container img {
	width: 99%;
	margin-top: 0.3%;
}

#menu-wrapper {
	width: 90%;
	margin: 0 auto;
	clear:both;
	padding: 0;
}



#column1 {
	float: left;
	width: 33%;
	height: 160px;

}

#column1 ul li {
    list-style-type: none;
    text-align: center;
    font-size: 1.2rem;
    margin: 5px;
    color: #fff;
}

#column1 h6 {
	color: white;
	margin-bottom: 0;
}

#column2 {
	height: 160px;
	width: 33%;
	display: inline-block;
	
}

#column2 ul li {
	list-style-type: none;
	color: #fff;
}

#column2 h6 {
	color: white;
	
}

#column3 {
	float: right;
	width: 33%;
	height: 160px;
	
}

#column4 {
	height: 40px;
	width: 100%;
}

footer {
	background: #838384;
	width: 100%;
	display: table;
	bottom: 0;
	left: 0;
	height: 200px;
	clear: both;
	margin: 20px 0 0 0;
	padding: 10px;

}

/*contact form*/



#contact-form {
    width: 60%;
    height: 80%;
    margin: 50px auto;
}

#first-name {
	width: 28%;
	height: 15%;
	margin-right: 5px;
	padding: 5px;
}

#last-name {
	width: 28%;
	padding: 5px;
}

label {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: lighter;
	text-align: left;
}

#email, #subject {
	width: 60%;
	height: 15%;
	padding: 5px;
}

input, select, textarea {
	margin-top: 10px;
}

p {
    font-size: 1.8rem;
    width: 80%;
    margin: 25px auto;
}

h3#contact {
    margin: 25px 0 0 0;
}


/*about page*/
#about-cover {
	width: 98%;
	margin-top: 2em;
	margin-bottom: 2em;
}

/*menu top*/

#menu2-img {
	margin: 0;
	padding: 0;
	float: right;
	width: 50%;

}

#menu2-img img {
	width: 98%;
}

#menu3-img {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
}

#menu3-img img {
	width: 98%;
}

#menu1-img img {
	width: 99%;
	margin-bottom: 0.3%;
	margin-top: 2em;
}


#photo-wrapper {
	width: 98%;
	margin: 0 auto;
	clear:both;
	padding: 0;
}


